
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" class="ion-padding">
    <ion-item color="dark">
      <ion-avatar slot="start">
        <img src="../../assets/img/avatar.png" />
      </ion-avatar>
      <ion-label>Fulano</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-button (click)="onClick()" fill="clear" color="dark">
        <ion-icon slot="start" name="home"></ion-icon>Inicio
      </ion-button>
    </ion-item>
    <ion-item color="primary">
      <ion-button (click)="tutorial()" fill="clear" color="dark">
        <ion-icon slot="start" name="list"></ion-icon>Tutorial
      </ion-button>
    </ion-item>
    <ion-item color="primary">
      <ion-button (click)="onClick()" fill="clear" color="dark">
        <ion-icon slot="start" name="settings"></ion-icon>Configurações
      </ion-button>
    </ion-item>
  </ion-content>
</ion-menu>

<div class="ion-page home" id="main-content">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" class="telainicial">
      <ion-text>
        <h1>Dashboard</h1>
      </ion-text>
      <ion-card color="dark">
        <canvas id="myChart" responsive="true"></canvas>
      </ion-card>
      <ion-text>
        <h2>Meus cursos</h2>
      </ion-text>
      <ion-grid class="scroll">
        <div *ngFor="let item of items">
          <ion-row>
            <ion-col>
              <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-title>{{item}}</ion-card-title>
                  <ion-card-subtitle>{{item}} + fundamentals</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  {{item}} + Course
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">
        Dimenlogia v1.0.0 
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</div>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Alert"
  subHeader="Important message"
  [message]="alert"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>


