<div class="ion-page home" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="telainicial">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-item-divider color="dark">
            <h3>Dashboard</h3>
          </ion-item-divider>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id="myChart" responsive="true"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item-group>
          <ion-item-divider color="dark">
            <h3>Meus Cursos</h3>
          </ion-item-divider>

          <ng-container *ngIf="dadosCursos.length !== 0">
            <ion-item *ngFor="let item of dadosCursos">

              <ion-card>
                <img alt="Silhouette of mountains" [src]="item.logoCurso" />
                <ion-card-header>
                  <ion-card-title>Curso: {{item.nomeCurso}}</ion-card-title>
                  <ion-card-subtitle>Info: {{item.infoCurso}} + fundamentals</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Nivel: {{item.nivelCurso}}
                </ion-card-content>
              </ion-card>
            </ion-item>
          </ng-container>

          <ion-card *ngIf="dadosCursos.length === 0">
            <ion-card-content>
              Nenhum curso cadastrado
            </ion-card-content>
          </ion-card>

        </ion-item-group>
      </ion-list>
    </ion-card>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">
        Dimenlogia v2.0.0
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</div>