<div class="ion-page home" id="main-content">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        Tutorial
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" class="telainicial">
    <ion-list>
      <ion-item>
        <ion-label>Do you have any programming experience?</ion-label>
        <ion-select [(ngModel)]="experience">
          <ion-select-option value="yes">Yes</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="experience === 'yes'">
        <ion-label>What programming languages have you worked with?</ion-label>
        <ion-input type="text" [(ngModel)]="languages"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Are you familiar with Angular?</ion-label>
        <ion-select [(ngModel)]="angularKnowledge">
          <ion-select-option value="yes">Yes</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="experience === 'yes' && angularKnowledge === 'yes'">
        <ion-label>What is your level of expertise with Angular?</ion-label>
        <ion-select [(ngModel)]="angularLevel">
          <ion-select-option value="beginner">Beginner</ion-select-option>
          <ion-select-option value="intermediate">Intermediate</ion-select-option>
          <ion-select-option value="advanced">Advanced</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="full" (click)="submitForm()">Submit</ion-button>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">
        Dimenlogia v1.0.0
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</div>