<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="dark" class="ion-padding">
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="../assets/img/avatar.png" />
        </ion-avatar>
        <ion-label>Fulano</ion-label>
      </ion-item>
      <ion-menu-toggle>
        <ion-item color="primary">
          <ion-button (click)="inicio()" fill="clear" color="dark">
            <ion-icon slot="start" name="grid">Inicio</ion-icon>Inicio
          </ion-button>
        </ion-item>
        <ion-item color="primary">
          <ion-button (click)="home()" fill="clear" color="dark">
            <ion-icon slot="start" name="home"></ion-icon>Home
          </ion-button>
        </ion-item>
        <ion-item color="primary">
          <ion-button (click)="form()" fill="clear" color="dark">
            <ion-icon slot="start" name="list"></ion-icon>Formulario
          </ion-button>
        </ion-item>
        <ion-item color="primary">
          <ion-button (click)="inicio()" fill="clear" color="dark">
            <ion-icon slot="start" name="settings"></ion-icon>Configurações
          </ion-button>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet></ion-router-outlet>

